/* Enter your custom styles here */
/* .admin{
  font-style:;  
} */

/* .aaa{
  align-items: center;
  /* background-color: #ffae00; 
} */

/* .bbb{
  font-size: 20px;
  font-family: "Malgun Gothic";
  font-weight: 700;
  font-style: initial;
} */